.justifi{
    /* background-color: red; */
    padding: 20px;
    height: 100%;
    padding-top: 80px;
}
.divisor-vertical{
    width: 15px;
    height: 80vh;
    border-radius: 100px;
    background-color:black ;
    margin: 20px;
}
.home{
    width: 80%;
    display: flex;
    /* background-color: red; */
}


.home .grafic{
    
    flex: 3;
    
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    /* text-align: center; */
    
}

.home .containLoad{
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.lateral{
    justify-content: center;
    align-items: center;
}


.home .lateral{
    display: flex;
    flex: 2;
}

b{
    font-weight: 400;
}